@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  overflow-y: scroll;
  background-color: #0d0d0d;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Cambio de scroll */
/* Personaliza el contenedor del scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra vertical */
  height: 8px; /* Alto de la barra horizontal */
  background: transparent; /* Fondo del contenedor de la barra */
}

/* Cambia el diseño del track (el fondo del scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Fondo del track */
  border-radius: 10px; /* Bordes redondeados */
}

/* Cambia el diseño del thumb (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 123, 255, 0.7); /* Color del scrollbar */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilo al interactuar (hover) con el thumb */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 123, 255, 0.9); /* Más oscuro al pasar el cursor */
}

/* Ocultar completamente la barra si no se desea que se vea */
::-webkit-scrollbar {
  display: none; /* La barra será invisible */
}

/* Opcional: Añadir un diseño redondeado al contenedor scroll */
.scroll-container {
  overflow-y: auto; /* Habilitar scroll vertical */
  scrollbar-width: thin; /* Scroll más delgado para navegadores compatibles (Firefox) */
  scrollbar-color: rgba(0, 123, 255, 0.7) transparent; /* Color para Firefox */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
